html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======================
    ТИПОГРАФИКА ШРИФТОВ
 ========================
*/


.font_container{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    
}

/* --- font-style --- */

.normal_style{
    font-style: normal;
}

.italic{
    font-style: italic;
}

.oblique{
    font-style: oblique;
}

.inherit{
    font-style: inherit;
}

/* --- font-variant --- */

.normal_variant{
    font-variant: normal;
}
.firm {
    font-variant: small-caps;
  }

/* --- font-weight --- */

.bold{
    font-weight: bold;
}

.normal_weight{
    font-weight: normal;
}

.lighter{
    font-weight: 200;
}

.bolder{
    font-weight: 800;
}
html{
    color: #003B36;
}

/* ---line-height --- */
body{
    line-height: 32px;
    height: 32px;
}

.btn{
    height: 42px;
}